.MuiAppBar-root {
  background-color: #011627 !important;
  position: relative !important;
}

.header-logo {
  font-weight: bold !important;
}

.header-wrapper {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

@media screen and (max-width: 425px) {
  .MuiAppBar-root {
    height: 4rem;
  }

  .MuiToolbar-root {
    height: 100%;
    align-items: center;
  }

  .header-logo {
    font-size: 1.75rem !important;
  }
}