.sub-header {
  display: flex;
  background-color: #E8EEF2;
  padding: 1rem 0;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
  font-weight: bold;
}

ul {
  list-style: none;
}

.nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: black;
  height: 60px;
  margin-top: 0;
}

a {
  color: white;
  text-decoration: none;

  &:hover {
    color: #5CC8FF;
  }
}
